.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .desktop-image {
    width: 300px;
    height: 200px;
    /* Desktop Animation */
    animation: desktopAnimation 2s infinite alternate;
  }
  
  .mobile-image {
    width: 200px;
    height: 150px;
    /* Mobile Animation */
    animation: mobileAnimation 2s infinite alternate;
  }
  
  /* Keyframes for desktop animation */
  @keyframes desktopAnimation {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Keyframes for mobile animation */
  @keyframes mobileAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  
  /* Media Query for mobile styles */
  @media (max-width: 768px) {
    .desktop-image {
      display: none;
    }
  
    .mobile-image {
      display: block;
    }
  }
  