body { 
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding:0;
  background: #EEEEEE;
  align-items: center;
  justify-content: center;
}

a{
  font-family: 'Source Sans Pro';
  font-weight: 0.4;
  font-size: 14px;
}

label{
  font-size:18px ;
  line-height: normal;
  color:white;
  font-family: 'Source Sans Pro';
  font-weight: 6;
  display:inline-block;
  padding-top: 40px;
  margin-left: 150px;
  text-transform: uppercase;
}

nav ul{
  float:right;
  margin-right: 350px;
  padding:25px;

}

nav ul li{
  display: inline;
  margin:0 20px;
}

nav ul li a{
    color:white;
    font-size:14px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    font-weight: 400;
}

.firstpage {
    color: white;
    height: 800px;
    align-items: center;
    justify-content: center;
    background-image: url('assests/Desktop_Backgrounds_1920x1200_6\ 3.png') ;
    background-size: cover;
   
  }

  h1{
    font-family: Oswald;
  }

  h5{
    font-family:Source Sans Pro;
  }

  .mainpart{
    width: 456px;
    height:56px;
    text-align: center;
    color: white;
    padding-left:550px;
    padding-top: 240px;
  }


  .headlineitem1{
    margin:10px;
    font-size: 44px;
    font-family: "Oswald";
    font-weight: 700;
    padding-top: 20px;
  }

  .headlineitem2{
    margin:10px;
    font-size: 44px;
    font-family: "Oswald";
    font-weight: 700;
  }

  .headline1{
    width: 410px;
    font-size:22px;
    font-family: "Source Sans Pro";
    font-weight: 200;
    color: #ffffff7f;
    align-items: center;  
    margin-left: 20px;
  }

  .header1{
    color:white
  }

  .header2{
    color:white
  }

  .secondpage{
    text-align: center;
    height:700px;
    background: #EEEEEE;
    padding-left: 400px;
    padding-top: 90px;
  }

  .second1{
    font-family: "Oswald";
    font-weight: 700;
    width:669px;
    height:119px;
    font-size: 44px;
    color: #464547;
    padding-top: 10px;
  }

  .second2{
    font-size: 22px;
    color:#666666;
    width: 426px;
    height:57px;
    font-family: Source Sans Pro;
    margin-top: -20px;
    margin-left:115px;
  }

  .second3{
    font-size: 16px;
    padding:5px;
    color:#666666;
    font-family: "Source Sans Pro";
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .seconditem1{
    margin-left: -100px;
    width: 408px;
    height: 172px;
  }

  .seconditem2{
    width: 388px;
    height: 172px;
    margin-right: 300px;
  }

  
  .thirdpage{
    text-align: center;
    color: white;
    height: 666px;
    background-image: url('assests/IMG_1334_72dpi_RGB_\ 1.png');
    background-size: cover;
  }

  .third1{
    padding-top: 100px;
    font-size: 44px;
    width:480px;
    height:117px;
    padding-left: 550px;
  }

  .third2{
    height:97px;
    width:350px;
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 22px;
    padding-left: 600px;

  }
  .rooter{
   
    background-color: #464547;
  }

  .rooter1{
  
    padding: 20px;
    font-size: 15px;
    color:#ffffff30;
    display: inline-block;
  }

  .rooteritem1{
    width: 128px;
    height:20px;
    color: white;
    padding-left:5px;

  }

  .rooteritem2{
    width: 174px;
    height:33px;

  }

  .rooteritem3{
    width: 600px;
    height:20px;

  }

  .minilogo{
    height:20px;
    width:20px
  }


  .button {
      background-color: #39C2D7; /* Green */
      border: none;
      color: white;
      margin-left: -440px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: "Oswald";
      font-weight: 400;
      font-size: 14px;
      border-radius: 25px;
      width: 115px;
      height:36px
    }

  
    .circleButton {
      display: flex;
      border: none;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 150px;
      background-color: #39C2D7;
      border-radius: 50%;
      display: flex;
      margin-left: 700px;
      cursor: pointer;
    }

    .circleButton:before {
      content: '';
      border-style: solid;
      border-width: 30px 0 30px 45px;
      border-color: transparent transparent transparent #fff;
    }

    .circleButton:hover {
      background-color: #39C2D7;
    }
    
