.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo img {
  width: 100px;
  height: 100px;
  transition: transform 0.5s ease-in-out;
}

.read-more-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.video-btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.read-more-btn:hover,
.video-btn:hover {
  transform: rotate(90deg);
}

.logo:hover img {
  transform: scale(1.2) rotate(180deg);
}

body { 
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding:0;
  background: #EEEEEE;
  align-items: center;
  justify-content: center;
}

a{
  font-family: 'Source Sans Pro';
  font-weight: 0.4;
  font-size: 14px;
}

label{
  font-size:18px ;
  line-height: normal;
  color:white;
  font-family: 'Source Sans Pro';
  font-weight: 6;
  display:inline-block;
  padding-top: 40px;
  margin-left: 150px;
  text-transform: uppercase;
}

nav ul{
  float:right;
  margin-right: 350px;
  padding:25px;

}

nav ul li{
  display: inline;
  margin:0 20px;
}

nav ul li a{
    color:white;
    font-size:14px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    font-weight: 400;
}

.firstpage {
    color: white;
    height: 800px;
    align-items: center;
    justify-content: center;
    background-image: url('assests/Desktop_Backgrounds_1920x1200_6\ 3.png') ;
    background-size: cover;
   
  }

  h1{
    font-family: Oswald;
  }

  h5{
    font-family:Source Sans Pro;
  }

  .mainpart{
    width: 456px;
    height:56px;
    text-align: center;
    color: white;
    padding-left:550px;
    padding-top: 240px;
  }


  .headlineitem1{
    margin:10px;
    font-size: 44px;
    font-family: "Oswald";
    font-weight: 700;
    padding-top: 20px;
  }

  .headlineitem2{
    margin:10px;
    font-size: 44px;
    font-family: "Oswald";
    font-weight: 700;
  }

  .headline1{
    width: 410px;
    font-size:22px;
    font-family: "Source Sans Pro";
    font-weight: 200;
    color: #ffffff7f;
    align-items: center;  
    margin-left: 20px;
  }

  .header1{
    color:white
  }

  .header2{
    color:white
  }

  .secondpage{
    text-align: center;
    height:700px;
    background: #EEEEEE;
    padding-left: 400px;
    padding-top: 90px;
  }

  .second1{
    font-family: "Oswald";
    font-weight: 700;
    width:669px;
    height:119px;
    font-size: 44px;
    color: #464547;
    padding-top: 10px;
  }

  .second2{
    font-size: 22px;
    color:#666666;
    width: 426px;
    height:57px;
    font-family: Source Sans Pro;
    margin-top: -20px;
    margin-left:115px;
  }

  .second3{
    font-size: 16px;
    padding:5px;
    color:#666666;
    font-family: "Source Sans Pro";
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .seconditem1{
    margin-left: -100px;
    width: 408px;
    height: 172px;
  }

  .seconditem2{
    width: 388px;
    height: 172px;
    margin-right: 300px;
  }

  
  .thirdpage{
    text-align: center;
    color: white;
    height: 666px;
    background-image: url('assests/IMG_1334_72dpi_RGB_\ 1.png');
    background-size: cover;
  }

  .third1{
    padding-top: 100px;
    font-size: 44px;
    width:480px;
    height:117px;
    padding-left: 550px;
  }

  .third2{
    height:97px;
    width:350px;
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 22px;
    padding-left: 600px;

  }
  .rooter{
   
    background-color: #464547;
  }

  .rooter1{
  
    padding: 20px;
    font-size: 15px;
    color:#ffffff30;
    display: inline-block;
  }

  .rooteritem1{
    width: 128px;
    height:20px;
    color: white;
    padding-left:5px;

  }

  .rooteritem2{
    width: 174px;
    height:33px;

  }

  .rooteritem3{
    width: 600px;
    height:20px;

  }

  .minilogo{
    height:20px;
    width:20px
  }


  .button {
      background-color: #39C2D7; 
      border: none;
      color: white;
      margin-left: -440px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: "Oswald";
      font-weight: 400;
      font-size: 14px;
      border-radius: 25px;
      width: 115px;
      height:36px;
      transition: transform 0.3s ease-in-out;
    }

    .button:hover {
      transform: rotate(15deg);
      transform-origin: left-top;
    }

    .circleButton {
      display: flex;
      border: none;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 150px;
      background-color: #39C2D7;
      border-radius: 50%;
      display: flex;
      margin-left: 700px;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
    }

    .circleButton:before {
      content: '';
      border-style: solid;
      border-width: 30px 0 30px 45px;
      border-color: transparent transparent transparent #fff;
    }

    .circleButton:hover {
      background-color: #fff;
      transform: scaleX(0.9) scaleY(0.9);
    
      border-color: transparent transparent transparent #39C2D7;
    }

    @media (max-width: 768px) {
      .main {
        background-color: #EEEEEE;
        width: 100%; 
      }
    
      .firstpage, .secondpage, .thirdpage {
        height: auto; 
        padding-left: 20px; 
        padding-right: 20px; 
      }
    
      .mainpart {
        padding-left: 20px;
        padding-right: 20px;
      }
    
      .headline1 {
        width: auto;
        margin-left: 0; 
      }
    
      .secondpage {
        padding-left: 20px;
        padding-right: 20px;
      }
    
      .second1 {
        width: auto;
        padding-top: 20px;
      }
    
      .second2 {
        width: auto;
        margin-left: 0;
      }
    
      .second3 {
        flex-direction: column; 
      }
    
      .seconditem1,
      .seconditem2 {
        width: auto;
        margin-left: 0;
        margin-right: 0;
      }
    
      .third1 {
        padding-left: 20px;
      }
    
      .third2 {
        padding-left: 20px;
      }
    
      .rooteritem1,
      .rooteritem2,
      .rooteritem3 {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
      }
    
      .button {
        margin-left: 0;
      }
    
      .circleButton {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .logo {
      transition: transform 0.3s ease-in-out;
    }

    .logo-container:hover .logo {
      transform: rotate3d(0,30,0,360deg) 
      scale(1.2)
    }

    
    
