body { 
    background-size: cover;
   font-family: Arial, sans-serif;
   margin: 0;
   padding:0;
   background: #EEEEEE;
  }
  
  .firstpage {
   color: white;
   height: 800px;
  
      background-image: url('assests/Desktop_Backgrounds_1920x1200_6\ 3.png');
     
    }

    h1{
        font-family: Oswald;

    }

    h5{
        font-family:Source Sans Pro;
    }
    .mainpart{
      width: 456px;
      height:56px;
      text-align: center;
   color: white;
   padding-left:450px;
   padding-top: 240px;
    }


    .headline{
      margin:10px;
      font-size: 44px;

    }

    .headline1{
      font-size:22px;
      font-style:Source Sans Pro;
    }
    .header1{
      color:white
    }
    .header2{
      color:white
    }
    .secondpage{
      text-align: center;
      height:700px;
      background: #EEEEEE;
      padding-left: 400px;
      padding-top: 90px;
    }
    .second1{
      width:669px;
      height:119px;
      font-size: 44px;
      color: #464547;
      padding-top: 20px;
    }

    .second2{
      font-size: 22px;
      color:#666666;
      width: 426px;
      height:57px;
      font-family: Source Sans Pro;
      margin-top: -20px;
      margin-left:115px;

    }

    .second3{
      width: 983px;
      height: 194px;
      font-size: 16px;
      padding:5px;
      font-family: Source Sans Pro;
      margin-left:-105px;
    }

    
    .thirdpage{
        text-align: center;
        color: white;
      height: 666px;
      background-image: url('assests/IMG_1334_72dpi_RGB_\ 1.png');
    }

    .third1{
      padding-top: 100px;
      font-size: 44px;
      width:480px;
      height:117px;
      padding-left: 500px;
    }

    .third2{
      height:102px;
      width:400;
      width:390px;
      font-size: 22px;
      padding-left: 550px;

    }
    .rooter{
      height: 170px;
      background-color: #464547;
    }

    .rooter1{
      margin-left: 120px;
      padding: 20px;
      font-size: 15px;
      color:#ffffff30;
    }

    .minilogo{
      height:20px;
      width:20px
    }

    .hh1{
      color: white;
      padding-left:5px;
    }
    
    .button {
        background-color: #39C2D7; /* Green */
        border: none;
        color: white;
       margin-left: -440px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 25px;
        width: 115px;
        height:36px
      }
  
    .circleButton{
      width: 150px;
              height: 150px;
              background-color:  #39C2D7;
             
              border: none;
              border-radius: 50%;
              color: white;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              cursor: pointer;
              position: relative;
    }
    
    
    
    
   