
body {
    font-family: Arial, sans-serif;
  
  }
  
 
  .header {
    text-align: center;
 
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .header-menu {
    list-style: none;
    padding: 0;

  }
  
  .header-menu li {
    display: inline-block;
    margin-right: 20px;
   
  }
 
  .grey-section {
    text-align: left;
   
  }
  
  .content-left-align {
   
  }
  
  
  .video-section,
  .footer {
    text-align: center;
   
  }
  
  .content-centered {
    
  }
  

  @media screen and (max-width: 768px) {
    
    .header-menu li {
      display: block;
      margin-bottom: 10px;
    }
}
  